doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Asset Management System
    style.
         include public/style.css
   
    header
      h1 Asset Management System
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/list') Employee List
        li
          a(href='/stock') StockView
        li
          a(href='/issue') Issue Asset
        li
          a(href='/return') Return Asset
        li
          a(href='/scrap') Scrap Asset
        li
          a(href='/history') Asset History